.text-brand-gradient {
  background: linear-gradient(144.12deg, #5F0766 5.14%, #DB9818 51.68%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

footer {
  background: url('../images/footer-pattern.svg') repeat #130113;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: linear-gradient(144.12deg, #5F0766 5.14%, #DB9818 51.68%);
}
::selection {
  background-color: #5F0766;
  color: #fff
}
-webkit-::selection {
  background-color: #5F0766;
  color: #fff
}
::-moz-selection {
  background-color: #5F0766;
  color: #fff
}

@media (max-width: 499px) {
  .shop-slider img {
      padding-left: auto;
      padding-right: auto;
  }
}

@media (min-width: 950px) and (max-width: 1024px) {
  .app-demo {
      left: 8%;
  }
}

.menu-icon {
  height: 30px;
  width: 30px;
  position: relative;
  z-index: 500;
  top: 7px;
  cursor: pointer;
}
.menu-icon-line {
  height: 2px;
  width: 30px;
  display: block;
  background-color: #000;
  margin-bottom: 4px;
  /**/transition: transform 0.2s ease, background-color 0.5s ease;
}
.menu-icon-line-left {
  width: 15px;
}
.menu-icon-line-right {
  width: 15px;
  float: right;
}

.nav-active .menu-icon-line {
  background-color: #000;
  transform: translateX(0px) rotate(-45deg);
}

.nav-active .menu-icon-line-left {
  transform: translateX(1px) rotate(45deg);
}

.nav-active .menu-icon-line-right {
  transform: translateX(-2px) rotate(45deg);
}

.disappear {
  opacity: 0;
  transition: all 0.4s ease;
}

.mobile-nav-items {
  transition: all 0.4s ease;
}