.text-brand-gradient {
  background: linear-gradient(144.12deg, #5F0766 5.14%, #DB9818 51.68%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

footer {
  background: url('../images/footer-pattern.svg') repeat #130113;
}

.shop-hero {
  background: linear-gradient(102.37deg, #1A001C 25.67%, rgba(26, 0, 28, 0.74105) 43.91%, rgba(26, 0, 28, 0.187333) 75.88%, rgba(26, 0, 28, 0) 105.01%), url('../images/shop-hero-bg.png');
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: linear-gradient(144.12deg, #5F0766 5.14%, #DB9818 51.68%);
}
::selection {
  background-color: #5F0766;
  color: #fff
}
-webkit-::selection {
  background-color: #5F0766;
  color: #fff
}
::-moz-selection {
  background-color: #5F0766;
  color: #fff
}

@media (max-width: 499px) {
  .shop-slider img {
      padding-left: auto;
      padding-right: auto;
  }
}

@media (min-width: 950px) and (max-width: 1024px) {
  .app-demo {
      left: 8%;
  }
}

.menu-icon {
  height: 30px;
  width: 30px;
  position: relative;
  z-index: 500;
  top: 7px;
  cursor: pointer;
}
.menu-icon-line {
  height: 2px;
  width: 30px;
  display: block;
  background-color: #000;
  margin-bottom: 4px;
  /**/transition: transform 0.2s ease, background-color 0.5s ease;
}
.menu-icon-line-left {
  width: 15px;
}
.menu-icon-line-right {
  width: 15px;
  float: right;
}

.nav-active .menu-icon-line {
  background-color: #000;
  transform: translateX(0px) rotate(-45deg);
}

.nav-active .menu-icon-line-left {
  transform: translateX(1px) rotate(45deg);
}

.nav-active .menu-icon-line-right {
  transform: translateX(-2px) rotate(45deg);
}

.disappear {
  opacity: 0;
  transition: all 0.4s ease;
}

.mobile-nav-items {
  transition: all 0.4s ease;
}

@media (min-width: 768px) and (max-width: 888px) {
  .video-link {
    display: none;
  }
}

/**************************\
  Basic Modal Styles
\**************************/

.modal {
  font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
}

.modal__overlay {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  background-color: #fff;
  padding: 30px;
  /* max-width: 500px; */
  max-height: 100vh;
  height: 90%;
  width: 90%;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #00449e;
  box-sizing: border-box;
}

.modal__close {
  background: transparent;
  border: 0;
}

.modal__header .modal__close:before { content: "\2715"; }

.modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0,0,0,.8);
}

.modal__btn {
  font-size: .875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #e6e6e6;
  color: rgba(0,0,0,.8);
  border-radius: .25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out,-webkit-transform .25s ease-out;
}

.modal__btn:focus, .modal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.modal__btn-primary {
  background-color: #00449e;
  color: #fff;
}



/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}


/* The container must be positioned relative: */

.select-selected {
  background-color: #220025;
  width: 200px;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 50%;
  transform: translate(0%, -50%);
  left: 170px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: #220025;
  top: 100%;
  left: 0;
  max-width: 200px;;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}



.custom-select-products .select-selected {
  background-color: transparent;
  width: 400px;
  max-width: 100%;
  padding: 12px 23px 12px 30px;
  border: 1px solid black;
  z-index: 99;
}

.custom-select-products .select-items div, .custom-select-products .select-selected {
  color: #3b3b3b;
  padding: 12px 23px 12px 30px;
}

.custom-select-products .select-selected:after {
  color: #000000;
  font-size: 24px;
}

.custom-select-products .select-selected.select-arrow-active .dropdown {
  transform: translateY(180deg);
}

.custom-select-products .select-items {
  background-color: #ffffff;
  top: 100%;
  left: 0;
  max-width: 400px;
  border: 1px solid #220025;
  border-top-color: transparent;
  right: 0;
  z-index: 99;
}

/* .dropdown {
  z-index: -1;
  position: absolute;
  left: 85%;
  top: 50%;
  font-size: 28px !important;
  transform: translate(50%, -50%);
} */

@media (max-width: 470px) {
  .dropdown {
    left: 83% !important;
  }
}

.rotate-dropdown {
  transform: translate(50%, -50%) rotateX(180deg);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

input[type=number] {
  -moz-appearance: textfield;
}

.input-btn {
  font-size: 20px !important;
}

.cart-form .select-selected {
  width: 280px;
}

@media (max-width: 619px) {
  .product-form {
    gap: 0;
    flex-direction: column;
  }

  .cart-form {
    margin-bottom: 20px;
  }
}

.custom-select-register {
  text-align: left;
  color: #7b7b7b !important;
}

.custom-select-register .select-selected {
  width: 100%;
  color: #7b7b7b !important;
  border: 1px solid rgba(0, 0, 0, 0.3)
}

.custom-select-register .select-selected:after {
  content: none;
}

.custom-select-register .select-items {
  border: 1px solid rgba(0, 0, 0, 0.3);
  max-width: 420px !important;
}